<div class="page-header page-header-light shadow">
	<div class="page-header-content d-lg-flex">
		<div class="d-flex">
			<h4 class="page-title mb-0">
				Tables - <span class="fw-normal">Users</span>
			</h4>
		</div>
		<div class="collapse d-lg-block my-lg-auto ms-lg-auto">
          <%= link_to 'New user', new_user_path, class: "btn btn-danger", style: 'color:white' %>
        </div>
	</div>
	<div class="page-header-content d-lg-flex border-top">
		<div class="d-flex">
			<div class="breadcrumb py-2">
				<span class="breadcrumb-item"><i class="ph-house"></i></span>
				<span class="breadcrumb-item">Users</span>
				<span class="breadcrumb-item active">Basic examples</span>
			</div>
		</div>
	</div>
</div>